<div>
    <video #video autoplay id="mirror"></video>

    <div class="flashAnim" [ngClass]="{ 'take-flash': doFlash == true }">

    </div>
    <div id="previewImageOverlay" [ngClass]="isLive ? 'notVisible' : 'visible'">
        <img id="previewImage" align="center" #preview>
    </div>
    <!-- <canvas #canvas width="640" height="480"></canvas> -->
    <button mat-raised-button color="warn" (click)="resetSession()" id="resetButton">
        <i class="material-icons">
            refresh
        </i>
    </button>
    <button mat-raised-button color="warn" (click)="uploadFile()" id="photoButton">
        <i class="material-icons">
            add_a_photo
        </i>
    </button>
    <button mat-raised-button color="warn" (click)="helpMe()" id="helpButton">
        <i class="material-icons">
            help_outline
        </i>
    </button>
    <input type="file" #upload style="display: none" #fileInput (change)="handleFileInput($event.target.files)"
        accept="image/*">

    <button mat-raised-button color="warn" (click)="makePic()" id="makePicButton">
        <i class="material-icons">
            photo_camera
        </i>
    </button>

    <div id="arrow1" [hidden]="!help"></div>
    <div id="arrow2" [hidden]="!help"></div>
    <div id="arrow3" [hidden]="!help"></div>
    <div id="arrow4" [hidden]="!help"></div>

    <div id="arrowMsg1" [hidden]="!help">Session Reload</div>
    <div id="arrowMsg2" [hidden]="!help">Image Upload</div>
    <div id="arrowMsg3" [hidden]="!help">Help</div>
    <div id="arrowMsg4" [hidden]="!help">Take a photo</div>

    <div id="productsMsg" [hidden]="!help">Products suggestions</div>

    <div class="gender-session-help" *ngIf="help">
        <div>Select Gender</div>
    </div>
    <div class="age-session-help" *ngIf="help">
        <div>Select Maturity</div>
    </div>

</div>
