#mirror {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#resetButton {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  z-index: 1000000;
}

#photoButton {
  position: fixed;
  top: 10px;
  left: 100px;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  z-index: 1000000;
}

#helpButton {
  position: fixed;
  top: 10px;
  left: 190px;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  z-index: 1000000;
}

#makePicButton {
    position: fixed;
    top: 10px;
    left: 280px;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    z-index: 1000000;
}

.notVisible {
  display: none !important;
}

.visible {
  display: fixed !important;
}

.material-icons {
  font-size: 32px;
}

.flashAnim {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
}

.take-flash {
    animation: flash 0.6s;
}

@keyframes flash {
    0% {
        background-color: rgba(255,255,255,0);
    }

    30% {
        background-color: rgba(255,255,255,1);
    }

    60% {
        background-color: rgba(255,255,255,0.5);
    }

    100% {
        background-color: rgba(255,255,255,0.0);
    }
}

#arrow1 {
    background-image: url('../../assets/arrow.png');
    background-size: cover;
    position: fixed;
    top: 110px;
    left: 20px;
    z-index: 100000;
    width: 100px;
    height: 100px;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-70deg) scale(1.4);
}


#arrow2 {
    background-image: url('../../assets/arrow.png');
    background-size: cover;
    position: fixed;
    top: 90px;
    left: 120px;
    z-index: 100000;
    width: 100px;
    height: 100px;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-80deg) scale(1.2);
}

#arrow3 {
    background-image: url('../../assets/arrow.png');
    background-size: cover;
    position: fixed;
    top: 80px;
    left: 210px;
    z-index: 100000;
    width: 100px;
    height: 100px;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-90deg);
}


#arrow4 {
  background-image: url('../../assets/arrow.png');
  background-size: cover;
  position: fixed;
  top: 50px;
  left: 320px;
  z-index: 100000;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(-120deg);
  transform: rotate(-120deg);
}

#productsMsg {
  position: fixed;
  right: 30px;
  top: 220px;
  z-index: 100000;
  width: 300px;
  height: 400px;
  color: white;
  font-size: 25px;
  border: 10px solid white;
  border-radius: 300px;
  text-align: center;
  line-height: 400px;
}

#arrowMsg1 {
    position: fixed;
    top: 220px;
    left: 130px;
    z-index: 100000;
    width: 100px;
    height: 100px;
    color: white;
    font-size: 25px;
}


#arrowMsg2 {
    position: fixed;
    top: 190px;
    left: 230px;
    z-index: 100000;
    width: 100px;
    height: 100px;
    color: white;
    font-size: 25px;
}

#arrowMsg3 {
    position: fixed;
    top: 150px;
    left: 320px;
    z-index: 100000;
    width: 100px;
    height: 100px;
    color: white;
    font-size: 25px;
}


#arrowMsg4 {
  position: fixed;
  top: 60px;
  left: 440px;
  z-index: 100000;
  width: 100px;
  height: 100px;
  color: white;
  font-size: 25px;
}


.gender-session-help,
.age-session-help {
    background-image: url(../../assets/arrow.png);
    background-size: cover;
    position: absolute;
    top: 48px;
    right: 450px;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    z-index: 1000000;
    -webkit-transform:scaleX(-1) rotate(80deg);
    transform: scaleX(-1) rotate(80deg);

    > div {
        -webkit-transform: scaleX(-1) rotate(81deg);
        transform: scaleX(-1) rotate(81deg);
        top: 7px;
        right: -78px;
        position: absolute;
        font-size: 19px;
        font-weight: bold;
        color: white;
    }
}

.age-session-help {
    top: 165px;
}
