#mirror {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#resetButton {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  z-index: 1000000;
}

#photoButton {
  position: fixed;
  top: 10px;
  left: 100px;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  z-index: 1000000;
}

#helpButton {
  position: fixed;
  top: 10px;
  left: 190px;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  z-index: 1000000;
}

#makePicButton {
    position: fixed;
    top: 10px;
    left: 280px;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    z-index: 1000000;
}

.notVisible {
  display: none !important;
}

.visible {
  display: fixed !important;
}

.material-icons {
  font-size: 32px;
}
