#main{
    // left: 50%;
    width: 410px;
    position: relative;
    display: block;
    justify-self: center;
    margin-top:5px;
    cursor: pointer;
  }
  
  #main input{
    -webkit-appearance: none;
    position: absolute;
  }
  
  #tab-gender,#tab-age{
    width: 120px;
    height: 10vmin;
    border-radius: 100px;
    z-index: 20;
    /* background: green; */
    transition: all .3s;
  }
  
  #circle-gender,
  #circle-age{
    width: 8vmin;
    height: 8vmin;
    position: absolute;
    top: 1vmin;
    left: 1vmin;
    z-index: 99;
    border-radius: 50%;
    transition: all .3s;
    background: aqua;
  }

  #cirlce-gender {
    box-shadow: 0 0 15px rgba(0,255,255,.8);
  }
  #circle-age {
      background:white;
  }
  
  #main input:checked + #tab-gender #circle-gender{
    background: deeppink;
  box-shadow: 0 0 15px rgba(255, 20, 147, .8);
    left: 300px;
  }
  #main input:checked + #tab-age #circle-age{
    background: cadetblue;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.34);
    left: 300px;
  }

  #tab-gender::before,
  #tab-age::before{
    content: '';
    height: 10vmin;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0%;
    left: 0;
    opacity: .34;
    transition: all .3s;
    z-index: 4;
  }
  #tab-gender::before {
    background: linear-gradient(-90deg,#011 0%,aqua 350%);
    opacity: .34;

  }
#tab-age::before {
    background: linear-gradient(-90deg,#011 0%,blue 350%);
    opacity: .34;

}
  #tab-gender::after,
  #tab-age::after{
    content: '';
    height: 10vmin;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0%;
    left: 0;
    opacity: 0;
    transition: all .3s;
    z-index: 4;
    opacity: .34;
  }
  #tab-gender::after {
    background: linear-gradient(90deg,#011 0%,deeppink 350%);
    opacity: .34;

  }
  #tab-age::after{
    background: linear-gradient(90deg,#011 0%,green 350%);
    opacity: .34;

  }

  #main input:checked + #tab-gender::before,#main input:checked + #tab-age::before{
    opacity: 0;
  }
  
  #main input:checked + #tab-gender::after,#main input:checked + #tab-age::after{
    opacity: .34;
  }
  
  #gender, #age{
    position: absolute;
  }
  
  #gender::before,
  #age::before{
    position: absolute;
    left: 330px;
    top: -85px;
    transition: all .3s;
    font-weight: bolder;
    font-size: 50px;
    z-index: 9999;
  }
  #gender::before {
    color: aqua;

  }
  #gender::before {
      
    content: '\2642';
  }
  #age::before {

    content: '\1F476';
  }
  
  #main input:checked ~ #gender::before{
    color: deeppink;
    left: 25px;
    transition: all .3s ease-in-out;
    content: '\2640';
  }
  #main input:checked ~ #age::before{
    left: 25px;
    transition: all .3s ease-in-out;
    content: '\1F37A';
  }