<!-- <div id="app-cover" [ngStyle]="{'left': (isAgeStage == true ? '215px' : '0px')}">
    <input type="checkbox" #chk [id]="'checkbox-' + isAgeStage"  
        [(ngModel)]="isChecked" (change)="checkValue(chk)">
    <div id="path"></div>
    <div id="knob">
        <div id="bow">
            <i class="mat-icon material-icons bowtie-icon"></i>
        </div>
    </div>
    <div id="gender">
        <div id="fe">{{_uncheckedValue}}</div>
        <div id="male"><span>{{_checkedValue}}</span></div>
    </div>
</div> -->
<!-- <div id="main-container"> -->
<label id="main">
    <input type="checkbox" #chk (change)="checkValue(chk)">
    <div id="tab-{{type}}">
        <div id="circle-{{type}}"></div>
    </div>
    <div id="{{type}}">

        <!-- <i class="material-icons icon" *ngIf="type === 'age'">
            {{icon_type}}
        </i> -->
    </div>
</label>
<!-- </div> -->