<div class="flex-container">
    <div style="display: flex; flex-direction: column; margin-left: calc(100% - 450px);">

        <div class="card-holder" style="margin-left: 22px">
            <app-gender-checkbox [_checkedValue]="'Male'" [_uncheckedValue]="'Fe'" [type]="'gender'"></app-gender-checkbox>
            <app-gender-checkbox [_checkedValue]="'Human'" [_uncheckedValue]="'Pre'" [isAgeStage]="true" [type]="'age'">
            </app-gender-checkbox>
        </div>
        <div style="color: red ;z-index: 100000;bottom: 0;left: 0;position: absolute;"> {{ labels }}</div>
        <div class="scrollbar products-list-scroll" id="style-6">
            <div class="card-holder" *ngFor="let product of products; trackBy: id" (click)="toggleCard(product)">
                <div class="card card--front" [attr.id]="'cf_' + product.id">
                    <div class="logo">
                        <img mat-card-image [src]="product.imageURL" alt="Photo of a Shiba Inu">
                    </div>
                    <div class="text" (click)="showOverlay($event, product)">

                        <h1 class="head__name">
                            {{product.name}}
                        </h1>
                        <!-- <p class="head__subtitle">
                            {{product.description}}
                        </p> -->
                    </div>

                </div>

                <div class="card card--back" [attr.id]="'cb_' + product.id">
                    <div class="circle">
                        <i class="material-icons icon">
                            arrow_back
                        </i>
                    </div>
                    <div class="card--back--tags">
                        <mat-chip-list *ngIf="product.showLables">
                            <mat-chip *ngFor="let reference of product.references"
                                (click)="goToReference(reference.url)">
                                {{reference.reference}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
