.products-list-scroll {
    display: grid;
    flex-direction: column;
    overflow-y: auto;
    max-height: calc(100vh - 220px);
    margin-top: 130px;
    z-index: 9999;
    -webkit-box-shadow: inset 0px -13px 6px -5px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: inset 0px -13px 6px -5px rgba(0, 0, 0, 0.32);
    box-shadow: inset 0px -13px 6px -5px rgba(0, 0, 0, 0.32);
}

.scrollbar {
    margin-left: 22px;
    float: left; // height: 300px;
    // width: 65px;
    background: transparent;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 25px;
}

.force-overflow {
    min-height: 450px;
}

#style-6::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

/**  STYLE 6 */

#style-6::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    background-color: transparent;
}

#style-6::-webkit-scrollbar-thumb {
    background-color: transparent;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 0%, transparent 0%, transparent 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 0%, transparent 0%, transparent);
}

.product-list-container {
    flex: 1 1 auto;
    background: #999999;
}

$color-green: #27ae60;
$color-orange: #f1c40f;
$color-blue: #3498db;
$color-violet: #9b59b6;
:host {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.card {
    cursor: default;
    position: absolute;
    display: flex;
    height: 10vmin;
    border-radius: 100px;
    color: white;
    outline: 1px solid transparent;
    background: #1e1c1c57;
    box-shadow: inset 0.15vmin 0.15vmin 0.1vmin rgba(white, 0.25);
    backface-visibility: hidden;
    transition: transform 800ms cubic-bezier(0.63, -0.32, 0.4, 1.39);
    &--front {
        transform: rotateY(0deg);
        &--flip {
            transform: rotateY(-180deg);
        }
    }
    &--back {
        border-radius: 100px;
        transform: rotateY(180deg);
        background-position: 10vmin 10vmin;
        &--flip {
            transform: rotateY(0);
        }
    }
    &__content {
        height: 100%;
        width: 100%;
    }
}

.logo,
.text {
    // flex: 0 1 auto;
    align-self: center;
}

.head {
    text-align: right;
    &__name {
        // margin-bottom: 1em;
        // font-size: 4.4vmin;
        // font-weight: 400; // white-space: nowrap;
        &__fn {
            font-weight: 700;
        }
    } // &__subtitle {
    //     opacity: 0.5;
    //     font-size: 3vmin;
    // }
}

.note {
    position: absolute; //top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: nowrap;
    font-size: 3.5vmin;
    opacity: 0;
    pointer-events: none;
    animation: fadeInOut 4s;
    animation-fill-mode: forwards;
}

@keyframes fadeInOut {
    0% {
        top: 0;
        opacity: 0;
    }
    25%,
    75% {
        top: 10%;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        top: 20%;
        opacity: 0;
    }
}

.card {
    .text {
        // height: 100%;
        // padding-right: 20px;
        // padding-left: 10px;
        // width: 45%; 
        // width: 60%;
        // padding: 2vmin 6.5vmin 2vmin 2vmin;
        cursor:pointer;
        text-transform: uppercase;
        .head__name {
            font-size: 1.5vmin;
        } 
        // .head__subtitle {
        //     font-size: 13px;
        //     white-space: nowrap;
        //     overflow: hidden;
        //     text-overflow: ellipsis;
        //     width: 100%;
        // }
        &:hover {
            color: #999999;
        }
    }
}

.flex-container {
    display: flex; // margin-top: 40px;
}

.card.card--front,
.card.card--back {
    -webkit-box-shadow: 9px 10px 29px -13px rgba(0, 0, 0, 1);
    -moz-box-shadow: 9px 10px 29px -13px rgba(0, 0, 0, 1);
    box-shadow: 9px 10px 29px -13px rgba(0, 0, 0, 1);
}

// new changes
.card-holder {
    // float: left;
    width: 430px; // display: block;
    // float: left;
    position: relative; // width: 48vmin;
    height: 10vmin;
    margin-top: 5px;
    .logo {
        // width: 25px;
        // display: inline-block;
        // margin: 0;
        // padding-left: 45px;
        // float: left;
        // height: 100%;
        // width: 40%;
        // padding-left: 4vmin; //background:rgba(blue,0.3);
        img {
            border-radius: 50%;
            width: 8vmin;
            height: 8vmin;
            margin-left: 1vmin;
            cursor: pointer;
            // margin-top: 1vmin;
            // margin-left: -2.5vmin;
        }
    }
    .text {
        width: calc(410px - 8vmin - 1vmin - 1vmin); // display: inline-block;
        // float: left;
        // padding: 0;
        // padding-left: 45px;
        margin-left: 1vmin;
        display: flex;
        align-items: center;
    }
}

.card.card--back {
    // position: relative;
    // display: block;
    // float: left;
    .mat-chip-list {
        width: calc(410px - 8vmin - 1vmin - 1vmin);
        float: right;
    }
}

.card--back--tags {
    display: flex;
    align-items: center;
    margin-left: 1vmin;
}

.mat-chip-list-wrapper {
    margin: 5px !important;
}

.mat-standard-chip,
.head__name {
    font-weight: normal;
    font-style: normal;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Maven Pro', sans-serif;
    letter-spacing: 0.9px;
}

.circle {
    width: 8vmin;
    height: 8vmin;
    background: white;
    margin-left: 1vmin;
    border-radius: 50%;
    align-self: center;
    cursor: pointer;
    i {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        height: 100%;
    }
}

