/* You can add global styles to this file, and also import other style files s */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: #1b1d1f;
    overflow: hidden;
    margin: 0;
    
    font-family: 'Maven Pro', sans-serif;
}

.loading {
  display: block;
  position: relative;
  background-image: url('assets/loader.gif');
  background-size: cover;
  width: 300px;
  height: 200px;
  top: 400px;
  margin: 0 auto;
  z-index: -1;
}

#previewImageOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  position: fixed;
  display: block;
  z-index: 3;
  top: 0;
  left: 0;
}
#previewImage {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  max-height: 95%;
}
